{% extends 'admin_base.html' %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>     
    <li class="active">Master</li>               
    <li class="active">Departments</li>
</ul>
<!-- END BREADCRUMB -->                       
<div class="page-title">                    
    <h2><span class="fa fa-arrow-circle-o-left"></span> Manage Departments</h2>
</div>                   


<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">Default</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Barcode</th>
                                <th>Photo</th>
                                <th>Name</th>
                                
                                <th>Mobile</th>
                                <th>Email</th>
                               
                                <th>Department</th>
                                <th>Status</th>                               
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employee_data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {% if employee.barcode %}
                                        <a href="#" data-toggle="modal" data-target="#barcodeModal" data-barcode-src="{{ employee.barcode.url }}">
                                            <img src="{{ employee.barcode.url }}" alt="Barcode" width="50" height="50">
                                        </a>
                                    {% else %}
                                    <p>no barcode</p>
                                    {% endif %}
                                </td>
                    
                                <td>
                                    {% if employee.photo %}
                                        <img src="{{ employee.photo.url }}" alt="Photo" width="50" height="50">
                                    {% else %}
                                        <p>no photo</p>
                                    {% endif %}
                                </td>
                                <td>{{ employee.empname }}</td>
                               
                                <td>{{ employee.mobile }}</td>
                                <td>{{ employee.email }}</td>
                               
                                <td>{{ employee.dptid.department_name }}</td>
                                <td>
                                    {% if employee.status %}
                                    <span class="label label-success label-form">Active</span>
                                    {% else %}
                                    <span class="label label-danger ">Deactive</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'employee_full_edit' emp_id=employee.id %}" class="btn btn-info">
                                        <span id="spinner{{ employee.id }}" class="fa fa-pencil"></span>
                                    </a>
                                    
                                    {% if not employee.status %}
                                    <a onclick="delete_qualification({{academic_qualification.id}})">
                                        <button class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </a>
                                    {% endif %}
                                    <button class="btn btn-primary" onclick="edit_view_subject({{Subject.id}})">
                                        
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </button>
                                </td>
                                
                                
                    
                                
                    

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    
                    
                </div>
            </div>
            <input type="hidden" value="{{ request.scheme }}://{{ request.get_host }}/get_departments_details/" name="" id="url">
            
        </div>
        
    </div>

</div>


{% endblock %}
{% block message %}

<!-- Bootstrap 3.x Modal for Barcode -->
<div class="modal fade" id="barcodeModal" tabindex="-1" role="dialog" aria-labelledby="barcodeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="barcodeModalLabel">Barcode</h4>
            </div>
            <div class="modal-body text-center"> <!-- Add text-center class -->
                <img id="largeBarcodeImage" src="" alt="Large Barcode">
            </div>
        </div>
    </div>
</div>


<div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Remove <strong>Data</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to delete?</p>                    
                <p>Press Yes if you sure.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <input type="hidden" value="{{ request.scheme }}://{{ request.get_host }}/delete_department/" name="" id="deleteurl">
                    <button class="btn btn-success btn-lg mb-control-yes">Yes</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap 3.x Modal -->
<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit Department</h4>
        </div>
        <div class="modal-body">
            <div class="row custom-margin-bottom">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12 col-xs-12">

                            <input type="text" required class="form-control" id="edit_name" placeholder="Department Name"/>
                            <input type="hidden" id="edit_id"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-12 col-xs-12">
                            <input type="text" class="form-control" required id="edit_code" placeholder="Department Code"/>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12 col-xs-12">                                                                                            
                        <select required class="form-control" id="edit_select">
                            <option value="1">Active</option>
                            <option value="0">Deactive</option>
                        </select>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary pull-right" onclick="edit_department()">Update</button>
            <input type="hidden" value="{{ request.scheme }}://{{ request.get_host }}/update_departments_details/" name="" id="updateurl">
        </div>
        
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
{% endblock %}
